@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.8rem;
}

/* main container */
.container-body {
    z-index: 0;
    background: #FFFFFF;
}

/* tolbo 1 */
.stain {
    position: absolute;
    width: 30rem;
    height: 18rem;
    left: 36rem;
    top: -12rem;
    z-index: 1;
    background: linear-gradient(270deg, #FF0404 2.36%, rgba(247, 117, 84, 0) 100%);
    filter: blur(7rem);
}

/* tolbo 2 */
.stain-2 {
    width: 32rem;
    height: 32rem;
    left: -13rem;
    top: 32rem;
    background: linear-gradient(270deg, #FF8E00 2.36%, rgba(247, 117, 84, 0) 100%);
    filter: blur(7rem);
}

/* tolbo 3 */
.stain-3 {
    width: 32rem;
    height: 25rem;
    left: 75rem;
    top: 35rem;
    background: linear-gradient(270deg, #990EE5 2.36%, rgba(247, 117, 84, 0) 100%);
    filter: blur(7rem);
}

/* logo */
.logo {
    width: 100px;
    height: 100px;
    margin-left: 3rem;
    cursor: pointer;
}

.pro {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    border: 1px solid #444;
    cursor: pointer;
}

/* utility classes style */
a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 0.75rem 0;
}


/* .container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
} */

/* Бүх үсэг нь Том үсэг */
/* .upper {
    text-transform: uppercase;
} */

/* .bg-primary {
    background: linear-gradient(180deg, #FFFFFF 0%, #FF4D00 100%);
} */

/* .bg-second {
    background: linear-gradient(180deg, #FFFFFF 0%, #FF00F0 100%);
} */


/* .btn {
    display: inline-block;
    border-radius: 30px;
    color: #000;
    padding: 1.5rem 4rem;
    margin: 0 2rem;
    border: none;
    cursor: pointer;
} */

/* Navbar */
#navbar {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 8fr;
}


#navbar ul {
   margin: 1rem;
   list-style: none;
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-gap: 1rem;
   font-size: 1.5rem;
}

#navbar ul li {
    padding: 1.5rem;
    /* border: 1px solid #ccc; */
    /* background: #f4f4f4; */
    text-align: center; 
}



/* #navbar ul {
    
} */

/* #navbar ul li a {
    color: #000;
    padding: 0.75rem;
    margin: 0 2rem;
} */

/* Profile */


/* Showcase Header */
/* #showcase .showcase-content {
    position: relative;
    top: 200px; */
    /* font-weight: 300; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    color: #000;
}  */
